# Database Connection String
# Local Options:
# DATABASE_URL=sqlite:///data/budget.db
# DATABASE_URL=sqlite:///:memory:

# Cloud Options (Neon DB / PostgreSQL):
# DATABASE_URL=postgresql://<user>:<password>@<neon-hostname>/<dbname>?sslmode=require
DATABASE_URL=sqlite:///data/budget.db
